/account.hbm.xml
/allocation/
/applicationContext.xml
/com/
/hibernate-context.xml
/log-context.xml
/log4j.properties
/messages/
/mongo-context.xml
/rest-context.xml
/shiro-context.xml
/spring-webmvc-servlet.xml
